.footer {
    background-color: #a1d6e2;
    color: white;
    position: relative;
    width: 100%;
    border-top: 2px solid #bcbabe;
    margin-top: -70px;
    height: 70px;
    clear: both;
    padding-top: 5px;

}

.footer div, footer span {
    font-size: 110%;
}