# Had to make extre gitignore file due to parent .idea/ folder
# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea

# API Keys
/RestroomRaterApp/src/app/models/keys.ts
RestroomRaterApp/functions/
RestroomRaterApp/firestore.indexes.json
RestroomRaterApp/.firebaserc
RestroomRaterApp/database.rules.json
RestroomRaterApp/firebase.json
RestroomRaterApp/firestore.rules
RestroomRaterApp/storage.rules
