
.navbar {
    background-color: #a1d6e2;
    color: white;
    border-bottom: 2px solid #bcbabe;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 70px;
}

/*Various Navbar stylings*/
.navbar .navbar-brand {
    color: inherit;
    font-size: 200%;
    /*This font is only used for the company brand*/
    font-family: 'Righteous', cursive;
    font-weight: bold;
}
.navbar .navbar-nav > li > a {
    color: inherit;
    font-size: 125%;
    margin-top: 15px;
    border-radius: 5px;
    font-family: "Istok Web", sans-serif;
    font-weight: bold;
}
.navbar .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #1995ad;

}
.navbar .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #a1d6e2;

}
.navbar-nav {
    color: inherit;
}
.navbar-nav > li > a {
    line-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    line-height: 35px;
}
.navbar .navbar-collapse {
    border: none;
}
.navbar .navbar-nav>.active>a {
    background-color: #1995ad;
}
.navbar-toggle {
    border: 2px solid white;
    margin-top: 15px;
    padding: 10px;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    background-color: #1995ad;
}

.navbar-toggle .icon-bar {
    background-color: white;
}




