/*Stying for link buttons on page*/
.link-button {
    display: inline-block;
    font-size: 110%;
    background-color: #1995ad;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 12px;
    text-decoration: none;

}
.link-button:hover:enabled {
    background-color: #a1d6e2;
    border: 1px solid #1995ad;
    color: white;
}