<!--Home/landing page of site-->
<main role="main" class="container">
    <!--Main title-->
    <div class="row text-center mt-20 mb-20">
        <h2 class="text-bold">Welcome to the Restroom Rater</h2>
    </div>
    <!--Link to submit reviews-->
    <div class="row text-center mt-20 mb-20">
        <a class="link-button" routerLink="/review">Submit Review</a>
    </div>
    <!--Link to Search-->
    <div class="row text-center mt-20 mb-20">
        <a class="link-button" routerLink="/search">Search Reviews</a>
    </div>
    <!--UserLoginComponent-->
    <div class="row text-center">
        <app-user-login></app-user-login>
    </div>
</main>
