<!--Fluid container to help resizing/positioning columns-->
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-xs-4 search">
            <!--TITLE-->
            <h3>Search Reviews</h3>

            <!--RATING FORM-->
            <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
                <!--Changing Tables Checkbox-->

                <!--Cleanliness Number-->
                <div class="form-group">
                    <label for="cleanlinessRating">Minimum Cleanliness</label>
                    <input type="number" class="form-control" id="cleanlinessRating"
                           name="cleanlinessRating" min="1" max="5" placeholder="1 - 5" required ngModel>
                </div>
                <!--Overall Review Number-->
                <div class="form-group">
                    <label for="rating">Minimum Rating</label>
                    <input type="number" class="form-control" id="rating"
                           name="rating" min="1" max="5" placeholder="1 - 5" required ngModel>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="hasChangingTables" class="form-check-input" name="hasChangingTables" ngModel>
                    <label for="hasChangingTables" class="form-check-label">Changing Table</label>
                </div>

                <!--Submit Button-->
                <!--<input type="submit" [disabled]="!searchForm.form.valid">-->
                <div class="row text-center">
                    <button class="btn" type="submit" [disabled]="!searchForm.form.valid">Search</button>
                </div>

            </form>
            <!--END FORM-->

            <!--Show search inputs if populated-->
            <div *ngIf="searchRating != null">
                <hr>
                <h2>Your Search</h2>
                <h4>Changing Tables: {{ searchChanging }}</h4>
                <h4>Minimum Cleanliness: {{ searchCleanliness }}</h4>
                <h4>Minimum Overall Rating: {{ searchRating }}</h4>
            </div>

        </div>

        <div class="col-xs-8">
            <!--Show search results if array has at least one value-->
            <div *ngIf="searchResults.length > 0">
                <h3 class="text-center">Search Results ({{ searchResults.length }})</h3>
                <!--For loop for reviews-->
                <div *ngFor="let result of searchResults">
                    <h4><span class="text-bold">Location:</span> {{ result.location }}</h4>
                    <h4><span class="text-bold">Changing Table:</span> {{ result.hasChangingTables }}</h4>
                    <h4><span class="text-bold">Cleanliness:</span> {{ result.cleanlinessRating }}</h4>
                    <h4><span class="text-bold">Overall:</span> {{ result.rating }}</h4>
                    <h4><span class="text-bold">Timestamp:</span> {{ result.timestamp | date:'medium' }}</h4>
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>
