<!--Added more if statements for proper design formatting-->
<div class="text-center mt-30" *ngIf="!(user | async)?.uid">
    <h2 class="text-bold mb-20">Welcome to the Restroom Rater</h2>
    <button class="btn text-center" (click)="login()" *ngIf="!(user | async)?.uid">Login</button>

</div>
<div class="logout-section"  *ngIf="(user | async)?.uid">
    <span class="user-name text-bold">Hi, {{userName}} </span>
    <button class="btn text-center" (click)="logout()" *ngIf="(user | async)?.uid" #logOutBtn>Logout</button>
</div>