<!--Page for displaying reviews submitted by current logged in user-->
<main role="main" class="container-fluid">
  <h2 class="text-center text-bold">My Reviews</h2>
    <!--For loop for reviews-->
    <div *ngFor="let review of userReviews" class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
      <hr class="scheme-line">
      <div><span class="text-bold">Establishment:</span> {{ review.establishment }}</div>
      <div><span class="text-bold">Description:</span> {{ review.description }}</div>
      <div><span class="text-bold">Cleanliness:</span> {{ review.cleanlinessRating }}</div>
      <div><span class="text-bold">Overall:</span> {{ review.rating }}</div>
    </div>
</main>