<!--TITLE-->
<h2>Submit a Review</h2>

<div>
  <a routerLink="/home">Back to Home</a>
</div>

<!--RATING FORM-->
<form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">
  <!--Location Text-->
  <div class="form-group">
    <label for="location">Location</label>
    <input id="location" class="form-control" name="location" required ngModel>
  </div>
  <!--Changing Tables Checkbox-->
  <div class="form-group">
    <label for="hasChangingTables">Changing Table</label>
    <input type="checkbox" id="hasChangingTables" class="form-control" name="hasChangingTables" ngModel>
  </div>
  <!--Cleanliness Number-->
  <div class="form-group">
    <label for="cleanlinessRating">Cleanliness</label>
    <input type="number" class="form-control" id="cleanlinessRating"
           name="cleanlinessRating" min="1" max="5" required ngModel>
  </div>
  <!--Overall Review Number-->
  <div class="form-group">
    <label for="rating">Overall Review</label>
    <input type="number" class="form-control" id="rating"
           name="rating" min="1" max="5" required ngModel>
  </div>

  <!--Submit Button-->
  <input type="submit" [disabled]="!reviewForm.form.valid">

</form>
<!--END FORM-->
<!--Display Ratings-->
<div *ngIf="tempReview != null">
  <h3>Your Rating Has Been Submitted</h3>
  <h4>Location: {{ tempReview.location }}</h4>
  <h4>Changing Table: {{ tempReview.hasChangingTables }}</h4>
  <h4>Cleanliness: {{ tempReview.cleanlinessRating }}</h4>
  <h4>Overall: {{ tempReview.rating }}</h4>
  <h4>Timestamp: {{ tempReview.timestamp | date:'medium' }}</h4>
  <hr>
</div>
